This CSS is just for the all_products.html

* {
    /* border: dotted 1px red; */
    padding: 0;
    margin: 0;
}

.toray_logo {
    display: inline-block;
    vertical-align: top;
}

.banner_logo {
    display: inline-block;
    vertical-align: top;
}

#page_disclaimer {
    font-size: 10pt;
    padding-left: 20px;
    color: darkred;
}

#main_content_wrapper {
    zoom: 115%;
    border: 1px solid black;
    border-radius: 8px;
    background-image: linear-gradient(to right, lightgrey, white);
    margin: 20px;
    padding: 15px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#wrapper img {
    width: 40px;
    height: auto;
}

.product_table {
    width: 100%;
    border: solid 2px;
    border-collapse: collapse;
}

.product_table th {
    border: 1px solid black;
    background-color: lightskyblue;
}

.product_table td {
    border: 1px solid black;
    background-color: white;
}

.product_table .column_names {
    font-size: 14pt;
}

.product_selector_link {
    display: inline-block;
    vertical-align: top;
    /* padding-left: 1475px; */
    /* padding-top: 15px; */
}

