/* This CSS is just for the all_products.html */

* {
    /* border: dotted 1px red; */
    padding: 0;
    margin: 0;
}

.toray_logo {
    display: inline-block;
    vertical-align: top;
}

.toray_logo img {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

#wrapper {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    width: 1020px;
    min-height: 600px;
    zoom: 125%;
}

#wrapper img {
    width: 40px;
    height: auto;
}

.banner_logo {
    display: inline-block;
    vertical-align: top;
}

.banner_logo img {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

.product_table {
    width: 100%;
    border: solid 2px;
    border-collapse: collapse;
}

.product_table th {
    border: 1px solid black;
    background-color: lightskyblue;
}

.product_table td {
    border: 1px solid black;
    background-color: lightgray;
}

.product_table .column_names {
    font-size: 14pt;
}

h1 {
    padding-top: 25px;
    padding-bottom: 25px;
}



